.DisplayAlert {
  color: white;
  position: fixed;
  background-color: #ff7d13;
  padding: 1em;
  border-radius: 25px;
  user-select: none;
  z-index: 100;
  opacity: 0;
  transition: opacity 2000ms ease;
}
