html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.centerY {
  display: flex;
  align-items: center;
}

.centerX {
  display: flex;
  justify-content: center;
}

.flowY {
  flex-direction: column;
}

.theme_background {
  background-color: rgb(76, 110, 190);
}
